<!DOCTYPE HTML>
<html>
<head>
    <title>Daily message</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div>Hello, <b>{{name}}[ADMIN]</b></div>
<div><h3>News for last 7 days:</h3></div>


{{#messages}}
    <div>
        <b>Дата:{{date}}</b>
        <br>
        <span>Тема:{{subject}}</span>
        <br>
        <i>Текст:{{text}}</i>
        <br>
        <span>Общее количество посещений:{{countAllVisit}}</span>
        <br>
        <span>Количество уникальных поситителей:{{countUniqueVisit}}</span>
        <br><br>
    </div>
{{/messages}}




<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
</form>

</body>
</html>
