<!DOCTYPE HTML>
<html>
<head>
    <title>Daily message</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div>Hello, <b>{{name}}</b></div>
<div>News for <b>{{date}}</b></div>
<div>Subject of message: <b>{{subject}}</b></div>
<div>Message: <b>{{text}}</b></div>

<a href="/previous?name={{name}}&date={{date}}&subject={{subject}}&text={{text}}">Previous day</a>
<a href="/next?name={{name}}&date={{date}}&subject={{subject}}&text={{text}}">Next day</a>

</body>
</html>
